<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230958234905-qahh716e6h4ftjk1si3h2or6bkpmi0f1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230958234905-qahh716e6h4ftjk1si3h2or6bkpmi0f1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>230958234905-j2cekk6mkk9tfbcm5q637ge69q4freqn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCoVCV6eymRjuMmA98paRRKk4wR2D4-nvM</string>
	<key>GCM_SENDER_ID</key>
	<string>230958234905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.serialize.ten10</string>
	<key>PROJECT_ID</key>
	<string>ten10-7ca6e</string>
	<key>STORAGE_BUCKET</key>
	<string>ten10-7ca6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230958234905:ios:74e7ab76c335fe26af5988</string>
	<key>DATABASE_URL</key>
	<string>https://ten10-7ca6e.firebaseio.com</string>
</dict>
</plist>